    body{
    height: 500px;
    background-color: gainsboro;
    /* margin-left: 50px;
    margin-right: 2px; */
    } 
   
    
    /* input{
        width: 2px;
        
    } */
    
    
    form{
   
    
    height: 500px;
    width: 1500px;
    margin-left: 500px;
    margin-right: 40px;
    position: center;
    }
    
    
    
    header{
    background-color:rgb(0, 119, 128);
    color: white;
    margin-left: 500px;
    margin-right: 500px;
    position: center;
    height: 50px;
    width: auto;
    justify-content: center;
    display: flex;
    }
    
    
   